.footer {
    background-color: #00344d;
    Color: ;
    height: 120px;
    padding: 42px;
}

.footer-logo {
    float: left;
    font-size: 33px;
}

.footer-list {
    float: right;
}

.footer-list {
    padding-bottom: 20px;
}