.flex-list {
    list-style: none;
    margin: 0px;
    padding: 60px 0px;
    text-align: center;
    display: flex;
  }
 
  .flex-list li {
    flex: auto;
  }
  

.container-transportasi {
  width: 1170px;  
  padding: 0 15px;
  margin: 0 auto;
  background-color: cadetblue;
  }

  .container-transportasi h3 {
    opacity: 0.7;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding: 0 15px;
  }

.btn-transportasi {
  padding: 12px 24px ;
  color: #ffff;
  display: inline-block;
  opacity: 0.8; 
  background-color:#00344d; 
}

.btn-transportasi p {
    padding: 12px 24px ;
}

@media (max-width: 1000px) {
    .flex-list {
      flex-wrap: wrap;
    }
    .flex-list li {
      width: 50%;
      padding: 10px;
    }
  }
  
  @media (max-width: 670px) {
    .flex-list {
      flex-direction: column;
    }
    
    .flex-list li {
      margin: 0 auto;
      padding: 10px;
    }
  }